<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona glowna</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="logo.png">
</head>

<body>
    <header>
        <h1>Strona o nas</h1>
        <p>Tutaj sa ciekawostki o ksiazkach (czyli o nas)</p>
    </header>
    <nav>
        <a href="/">Strona glowna</a>
        <a href="/about">O nas</a>
        <a href="/add">Dodaj ksiazke</a>
        <a href="/books" target="_blank">Ksiazki</a>
    </nav>
    <main>
        <div id="ciekawostki">
            <p>Najmniejsza książka świata – Tytuł ten należy do pozycji "Teeny Ted from Turnip Town". Książka ma wymiary 70 mikrometrów na 100 mikrometrów i została wydrukowana na krzemowej płytce za pomocą wiązki jonów. Do jej przeczytania potrzebny jest mikroskop elektronowy.</p>
            <p>Najwięcej książek napisał... – Za jednego z najbardziej płodnych pisarzy uznaje się L. Rona Hubbarda (twórcę scientologii). Ustanowił on Rekord Guinnessa z liczbą 1084 opublikowanych dzieł.</p>
        </div>
    </main>
    
    <footer>Strone wykonal: Johnny 2026</footer>
</body>

</html>