<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona glowna</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="logo.png">
</head>

<body>
    <header>
        <h1>Strona glowna</h1>
        <p>Tutaj sa ciekawostki o ksiazkach</p>
    </header>
    <nav>
        <a href="/">Strona glowna</a>
        <a href="/about">O nas</a>
        <a href="/add">Dodaj ksiazke</a>
        <a href="/books" target="_blank">Ksiazki</a>
    </nav>
    <main>
        <div id="ciekawostki">
            <p>Największy nakład na świecie – Tytuł ten niezmiennie należy do Biblii. Szacuje się, że na całym świecie wydrukowano i rozpowszechniono już ponad 5 miliardów jej egzemplarzy.</p>
            <p>Najdłuższa powieść w historii – To dzieło Marcela Prousta "W poszukiwaniu straconego czasu". Składa się z 13 tomów, zawiera niemal 1,3 miliona słów i ponad 9 milionów znaków.</p>
            <p>Książki z ludzkiej skóry – W bibliotece Uniwersytetu Harvarda znajduje się książka "Des destinées de l'ame" (Przeznaczenie dusz) z XIX wieku, której okładka została wykonana z ludzkiej skóry (była to skóra zmarłej pacjentki szpitala psychiatrycznego). Praktyka ta nosi nazwę antropodermicznej introligatorni.</p>
            <p>Strach przed brakiem czytania – Istnieje oficjalne określenie na lęk przed tym, że nie zdąży się przeczytać wszystkich książek przed śmiercią. To abibliofobia. Z kolei strach przed tym, że zabraknie Ci książek do czytania, nazywa się alfamegafobią</p>
            <p>Zapach starych książek ma nazwę – Ten charakterystyczny, uwielbiany przez wielu zapach papieru i rozkładających się związków organicznych w starych tomach nazywa się bibliosmia.</p>
            <p>Najdroższa książka świata – Jest to Kodeks Leicester autorstwa Leonardo da Vinci. W 1994 roku Bill Gates kupił ten oryginalny notes naukowca na aukcji za zawrotną kwotę 30,8 miliona dolarów.</p>
            <p>Japońskie słowo na kupowanie i nieczytanie – Japończycy mają idealne określenie na nawyk kupowania książek i układania ich w stosy na półkach bez wcześniejszego przeczytania. To słowo to tsundoku (积ん読).</p>
        </div>
    </main>
    
    <footer>Strone wykonal: Johnny 2026</footer>
</body>

</html>